*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body {
    max-width: 600px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 60%;
    padding: 20px;
    margin: 150px auto;
  }
  .left {
    padding: 0;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
    height: 400px;
  }

  .right button{
    background-color: #e67e22;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 30%;
    transition: 0.3s ease-in-out;
  }

  .right button:last-child{
    background-color: #e67e22;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 25%;
    transition: 0.3s ease-in-out;
  }
  .right button:last-child:hover{
    color: black;
  }
  .right button:hover{
    border-radius: 10px;
  }

  .right button a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
  }
  .right button a:hover{
    color: black;
  }
  
  .top-area img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .top-area img:hover {
    box-shadow: 4px 3px rgb(238, 219, 219);
    opacity: 0.8;
  }
  .quantity {
    padding: 3px 15px;
    font-size: 30px;
    color: #a7959e;
    cursor: pointer;
  }
  .box {
    border: 0.1px solid blue;
    width: 30%;
    height: 60px;
    display: inline-block;
    opacity: 0.2;
  }
  .bottom-area {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 20px 0 0;
    justify-content: center;
  }
  #number-product {
    width: 50px;
    text-align: center;
    border: none;
    font-size: 20px;
    color: #a7959e;
  }
  .manage-quanlity {
    display: flex;
    gap: 30px;
    justify-content: left;
    align-items: center;
  }
  button {
    margin-top: 20px;
    padding: 10px 50px;
    background-color: #7fa15a;
    color: white;
    border: none;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 25px;
  }


header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 0px 50px;
    list-style-type: none;
    height: 115px;
    width: 100%;
    background: rgba(255, 255, 255, 0.916);
    text-transform: uppercase;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
}

/* phần logo */
.logo{
    flex: 0.5;
}

.logo img{
    height: 140px;
    width: 150px;
    margin-left: 30px;
    cursor: pointer;
}

/* phần menu */
 .menu{
    display: flex;
    height: 100%;
    flex: 1.5;
    justify-content: space-between;
    align-items: center;
}
.control-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0.5;
}
.menu ul {
    flex: 1;
    display: flex;
    width: 100%;
    list-style: none;
    gap: 20px;
}

.menu li a{
    text-decoration: none;
    color: rgb(35, 33, 33);
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}


.menu >li:hover{
    border: 1px solid #fab1a0;
    transition: 0.3s ease-in;
    border-radius: 5px;
}

.menu >li >a:hover{
    color: rgb(0, 0, 0);
}

 .menu >li{
    position: relative;
    padding: 15px;
    line-height: 100%;
    margin-left: 20px;
}
.menu li{
    list-style: none;
    padding: 10px;
}

.menu li:hover{
    border: 1px solid #ff9e02;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}



header .menu li ul{
    text-decoration: none;
    text-transform: none;
    
}
.sub-menu{
    position: absolute;
    left: 0;
    top: 30px;
    width: 240px;
    border: 1px solid rgb(214, 214, 214);
    margin-top: 7px;
    visibility: hidden;
    z-index: 99;
    background-color: white;
}

.menu li:hover .sub-menu{
    visibility: visible;
    top: 20px;
    transition: 0.3s;
    display: inline-block;
}

.sub-menu a:hover{
    background: rgb(239, 239, 239);
    display: block;
}

.sub-menu ul li a{
    padding-left: 10px;
    font-weight: 100;
} 

/* control-right */

.cart{
    font-size: 40px;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
    color: #303952;
}

.cart a{
    color: #303952;
}

.login {
    font-family: inherit;
    font-size: 15px;
    height: 50px;
    background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 53px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    cursor: pointer;
}

.login:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.login:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.login span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

.login i {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

.login .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

.login:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

.login i{
    transform: rotate(-90deg);
}

.login:hover i {
    transform: rotate(5deg);
} 

/* footer */

.bg-footer >img{
  width: 100%;
  height: 400px;
  opacity: 0.5;
}

.bg-footer{
  position: relative;
}

.content-footer{
  position: absolute;
  top: 30px;
  left: 50px;
  background-color: #fff;
  width: 1400px;
  height: 350px;
  border-radius: 10px;
  display: flex;
}

.content-text-footer{
  margin-top: 5px;
  margin-left: 100px;
}

.content-text-footer h1{
  font-size: 40px;
}
.content-text-footer p{
  line-height: 40px;
  font-family: Verdana, Tahoma, sans-serif;
}

.content-text-footer a{
  text-decoration: none;
  color: black;
}

.content-text-img img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.content-text-img{
  display: flex;
  align-items: center;
}
iframe{
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 20px;
}